.form {
    width: 75%;
    min-width: 400px;
    border: 1px solid #999;
    border-radius: 5px;
    padding: 30px;
    margin: 100px auto;
}


.form .email,
.form textarea {
    width: 100%;
    margin-top: 5px;
    border-radius: 5px;
    border: 1px solid #bbb;
}

.form .email:focus,
.form textarea:focus {
    outline: 1px solid rgb(120, 147, 209);
}

.form .email {
    height: 35px;
}

.form textarea {
    height: 300px;
}

.form h2 {
    font-size: 40px;
    margin: 30px 0;
}

.form .submit {
    padding: 10px 20px;
    border: none;
    background-color: rgb(29, 89, 230);
    color: #fff;
    border-radius: 5px;
    cursor: pointer;
}

.form .submit:hover {
    background-color: rgb(84, 125, 221);
}

.form div {
    margin-bottom: 20px;
}
