.container {
    position: absolute;
    top: 100px;
    right: 20px;
    z-index: 1;

    background-color: #2980b9;
    width: 200px;
    height: 200px;
}
.definition {
    position: relative;
    margin: 50px;
    padding: 20px;
    background-color: #52be80;
}
