<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="stylesheet" href="../css/style.css" />
        <link rel="stylesheet" href="../css/contact.css" />
        <title>Contact - Site Web</title>
    </head>

    <body>
        <header class="header">
            <h1>Paris</h1>
            <nav>
                <a href="../index.html">Accueil</a>
                <a href="contact.html">Contact</a>
                <a href="a-propos.html">A propos</a>
            </nav>
        </header>

        <main>
            <section class="form">
                <form action="">
                    <h2>Contactez-nous</h2>
                    <div>
                        <label for="email">Email</label>
                        <input type="email" id="email" class="email" />
                    </div>
                    <div>
                        <label for="commentaire">Commentaire</label>
                        <textarea id="commentaire"></textarea>
                    </div>
                    <input type="submit" class="submit" />
                </form>
            </section>
        </main>

        <footer></footer>
    </body>
</html>
